<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kazma233.blog.dao.article.CommentDao">

    <select id="queryAllAndArticleTitleByArgs" resultType="com.kazma233.blog.entity.comment.vo.CommentArticleTitleVO">
        SELECT bct.*, bat.title as articleTitle
        FROM blog_comment_table bct JOIN blog_article_table bat ON bct.article_id = bat.id
        <where>
            <if test="articleTitle != null">
                bat.article_title LIKE "%"#{articleTitle}"%"
            </if>
            <if test="content != null">
                AND bct.content LIKE "%"#{content}"%"
            </if>
            <if test="nickname != null">
                AND bct.nickname LIKE "%"#{nickname}"%"
            </if>
        </where>
        ORDER BY create_time DESC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        <if test="offset != null">
            OFFSET #{offset}
        </if>
    </select>

    <select id="queryAllAndArticleTitleByArgsSize" resultType="java.lang.Long">
        SELECT count(*)
        FROM blog_comment_table bct JOIN blog_article_table bat ON bct.article_id = bat.id
        <where>
            <if test="articleTitle != null">
                bat.article_title LIKE "%"#{articleTitle}"%"
            </if>
            <if test="content != null">
                AND bct.content LIKE "%"#{content}"%"
            </if>
            <if test="nickname != null">
                AND bct.nickname LIKE "%"#{nickname}"%"
            </if>
        </where>
    </select>

</mapper>